DATABASE_URL="file:./dev.db"
POSTGRES_DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/cats"
SESSION_SECRET="change-me"
SUPERADMIN_PASSWORD="change-me"
SUPERADMIN_EMAIL="admin@example.com"
APP_PORT=3000
TRUST_PROXY=false
LOG_LEVEL="dev"

